.sf_main-header--top {
    background-color: $theme-color;
    padding: 15px 0;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.sf_main-header--top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sf_main-header--top-button {
    a {
        display: inline-block;
        text-decoration: none;
        background-color: $white;
        color: $green;
        padding: 8px 20px;
        border-radius: 25px;
        font-weight: 700;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: $green;
            color: $white;
        }
    }
}

.sf_main-header--top-title {
    color: $white;
    font-weight: 600;
}

.sf_main-header--top-phone {
    a {
        color: $white;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 15px;
        &:hover {
            opacity: .8;
        }
    }
    svg {
        fill: $white;
    }
}

.sf_main-header--nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sf_main-header--navbar {
    @media screen and (max-width: 767px) {
        padding: 15px 15px;
    }
    .navbar-nav {
        display: flex;
        align-items: center;
        gap: 20px;
        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }
        .nav-link {
            color: #7a7a7a;
            font-weight: 400;
            text-decoration: none;
            transition: all .3s ease-in-out;
            text-transform: uppercase;
            font-size: 12px;
            &:hover {
                color: $heading-color;
            }
        }
    }
}

.sf_main-header--nav {
    padding: 15px 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
    &.sticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 00;
        z-index: 101;
        background: #fff;
        box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
        animation: top-bottom .5s;
    }
}

.sf_main-header--search {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}

.sf_main-header--icon-wrapper {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
        gap: 15px;
    }
}

.sf_main-header--hamburger {
    a {
        display: none;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 20px;
        @media screen and (max-width: 767px) {
            display: flex;
        }
    }
}

.sf_main-header--menu {
    @media screen and (max-width: 767px) {
        position: fixed;
        background-color: $white;
        left: -1000px;
        top: 0;
        bottom: 0;
        width: 300px;
        transition: all .3s ease-in-out;
    }
    &.openNav {
        @media screen and (max-width: 767px) {
            left: 0;
        }
    }
}

.sf_main-header--logo {
    a {
        display: flex;
        align-content: center;
    }
    img {
        width: 60px;
        height: 60px;
    }
}