// Banner
.sf_banner {
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 710px;
    @media screen and (max-width: 767px) {
        height: 500px;
        background-position: right center;
    }
    .cntr {
        height: 100%;
    }
}

.sf_banner--wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.sf_banner--content {
    max-width: 570px;
    width: 100%;
    @media screen and (max-width: 767px) {
        padding: 15px 15px;
        background-color: rgba(0,0,0,0.3);
    }
    p {
        color: $white;
        font-size: 20px;
        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
    h1 {
        color: $white;
        font-size: 70px;
        font-weight: 700;
        line-height: 70px;
        margin: 20px 0;
        @media screen and (max-width: 767px) {
            font-size: 50px;
            line-height: 55px;
            margin: 12px 0;
        }
    }
}

// Ordinances and Resolutions
.sf_ord-reso {
    margin-top: -50px;
}

.sf_ord-reso--wrapper {
    background-color: $theme-color;
    padding: 50px 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 767px) {
        padding: 30px 15px;
    }
}

.sf_ord-reso--button {
    text-align: right;
    margin-bottom: 10px;
    a {
        color: $white;
        text-decoration: none;
        transition: all .3s ease-in-out;
        &:hover {
            opacity: .8;
        }
        svg {
            fill: $white;
            position: relative;
            top: 3px;
            margin-right: 5px;
        }
    }
}

// card
.card_list {
    background-color: $white;
    padding: 20px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}

.card_list_container {
    display: flex;
    align-items: center;
    grid-gap: 20px;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.card_list_left {
    flex: 1;
}

.card_list_wrapper {
    display: flex;
    align-items: center;
    grid-gap: 20px;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.card_list_img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.card_list_content {
    flex: 1;
    @media screen and (max-width: 600px) {
        text-align: center;
    }
    h3 {
        margin-bottom: 5px;
        color: #032A51;
        font-family: "Raleway", Sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
}

.card_list_button {
    a {
        display: inline-block;
        text-decoration: none !important;
        background-color: $theme-color-dark;
        color: #fff;
        padding: 15px 50px;
        border-radius: 50px;
        font-weight: 500;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: $theme-color;
        }
    }
}