.sf_title {
    text-align: center;
    margin-bottom: 30px;
    h2 {
        font-size: 40px;
        color: $white;
        font-weight: 700;
        line-height: normal;
        position: relative;
        @media screen and (max-width: 767px) {
            font-size: 30px;
        }
    }
    &.sf_title--02 {
        h2 {
            color: $heading-color;
            text-align: left;
            padding-bottom: 20px;
            border-bottom: 5px solid $theme-color;
        }
        p {
            margin-top: 15px;
            text-align: left;
        }
    }
}