.sf_title {
    text-align: center;
    h2 {
        font-size: 40px;
        color: $white;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 30px;
        @media screen and (max-width: 767px) {
            font-size: 30px;
        }
    }
}